label {
  margin-bottom: 0;
  color: #007bff;
  font-style: italic;
  font-size: 14px;
}

h5 {
  color: #0050ff;
}

.notResult {
  color: lightgray;
  font-style: italic;
}

.fas {
  color: #0050ff;
}
